{{ if eq .Section "p" }}
<div class="widget comments-widget hidden">
  <h4 class="widget__title">Post Comments</h4>
  <div id="comments" class="widget__content">
    <div id="comment-form">
      <a href="#" 
         target="_blank"
         class="comment-link">
         <span id="comment-text">Go to Issues to View or Add Comments</span>
         <span id="comment-loading" class="comment-loading" style="display:none;">Checking comments...</span>
      </a>
    </div>
  </div>
</div>
<span id="comment-issue-title" data-title="Comment: {{ .Title }}" hidden></span>
<script src="/js/comments.js"></script>
{{ end }}