{{ if eq .Section "posts" }}
<div class="widget comments-widget">
  <h4 class="widget__title">Post Comments</h4>
  <div id="comments" class="widget__content">
    <div id="comment-form">
      <a href="https://github.com/imjiaoyuan/imjiaoyuan.github.io/issues/new?title=Comment: {{ .Title }}" 
         target="_blank"
         class="comment-link">
         <span id="comment-text">Go to Issues to View or Add Comments</span>
         <span id="comment-loading" class="comment-loading" style="display:none;">检查评论中...</span>
      </a>
    </div>
  </div>
</div>
<span id="comment-issue-title" data-title="Comment: {{ .Title }}" hidden></span>
{{ end }}