{{ define "main" }}
<header class="page-header">
    <h1>
        {{ .Title }}
        {{ with .OutputFormats.Get "rss" }}
        <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" height="23">
                <path d="M4 11a9 9 0 0 1 9 9" />
                <path d="M4 4a16 16 0 0 1 16 16" />
                <circle cx="5" cy="19" r="1" />
            </svg>
        </a>
        {{ end }}
    </h1>
</header>

<div class="log-container">
    {{ range sort .Pages "File.TranslationBaseName" "desc" }}
    <div class="log-entry">
        <div class="log-date">
            {{ .File.TranslationBaseName }}
        </div>
        <div class="log-card post-content" style="white-space: pre-line; font-size: 0.85em; padding: 15px;">
            {{ .Content }}
        </div>
    </div>
    {{ end }}
</div>

{{ if gt .Paginator.TotalPages 1 }}
<footer class="page-footer">
    <nav class="pagination">
        {{ if .Paginator.HasPrev }}
        <a class="prev" href="{{ .Paginator.Prev.URL }}">«</a>
        {{ end }}
        {{ if .Paginator.HasNext }}
        <a class="next" href="{{ .Paginator.Next.URL }}">»</a>
        {{ end }}
    </nav>
</footer>
{{ end }}
{{ end }}